*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
.btn{
    bottom: 50px;
    right: 50px;
    position: fixed;
    width: 50px;
    height: 50px;
    z-index: 1000;
}
.marquee{
            width:100%;
            height:40px;
            padding-top: 4px;
            size: 4px;
            background-color: #f2f2f2;
            bottom: 0px;
            position: fixed;
        }

/* Header */
.header{
    
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    /* opacity: 0.5; */
    align-items: center;
    background: rgb(227, 227, 227);
}
/* Logo */
.logo{
    width: 25%;

}

.nameshop{
    width: 50%;

}
.setting{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 15px;
}
.logo img{
    width:  200px ;
    height: 150px;
}
.title img{
    width:200px ;
    height: 150px;
}
.nameshop h3{
    text-transform: uppercase;
    background: linear-gradient(to right,
        rgb(110, 225, 102),
        rgb(76, 161, 178),
        rgb(154, 196, 83),
        rgb(72, 104, 194),
        rgb(191, 72, 133),
        rgb(143, 77, 204),
        rgb(201, 75, 134),
        rgb(118, 216, 111));
        background-size: 200%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: animate-gradient 10s linear infinite;
        
    
    font-family: Rathana;
    font-size: 34px;
    
    /* color: Gold; */
    /* display: flex;
    justify-content: center; */
    text-align: center;
}
@keyframes animate-gradient{
    to{
        background-position: 200%;

    }

}

.setting img{
    width:  30px ;
    height: 30px;
}
/* fontname */
@font-face {
    font-family: Rathana;
    src: url(Koulen-Regular.ttf);
}
@font-face{
    font-family: khmer;
    src: url(HEAD7.TTF);
}
@font-face {
    font-family: navfont;
    src: url(Merriweather-VariableFont_opsz\,wdth\,wght.ttf);
}
@font-face {
    font-family: productfont;
    src: url(Merriweather-Italic-VariableFont_opsz\,wdth\,wght.ttf);
}
span{
    font-family: Rathana;
}
.eng{
    font-size: 15px;
    font-family:productfont ;
}
.navbar{
    top: 0px;
    position: sticky;
    width: 100%;
    z-index: 1000;
    width: 100%;
    /* opacity: 0.5; */
    height: auto;
    background: rgb(255, 255, 255);
}
.navbar.home img{
    width:  40px;
    height: 90px;
}
.navbar img{
    width:  50px;
    height: 40px;
}
.navbar ul{
    font-family: navfont;
    list-style-type: none;
    padding: 0px;
    margin: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 24px;

}
.navbar a{
    /* background: red; */
    text-decoration: none;
    display: block;
    padding: 10px 30px;
    transition: 1s;
    
}
.navbar a:hover{
    border-radius: 20px;
    background: rgb(221, 221, 221);
    transition: 0.5s;

}
.dropdown{
    border-radius: 20px;
    background: rgb(255, 255, 255);
    position: absolute ;
    display: none;
    transition: 1s;
}
.dropdown ul{
    transition: 1s;
    font-size: 15px ;
    flex-direction: column;
}
.navbar li:hover .dropdown{
    
    display: block;
    transition: 0.5s;
}


/* banner */
.banner {
    display: flex;
    /* width: 100px; */
    height: 800px;
}
/* Form */
.login ul{
    width: 100px;
    height: 40px;
    background: rgb(169, 169, 169);
    list-style-type: none;
    text-decoration: none;  
    padding: 0px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    font-family: Rathana;
    /* font-size: 24px; */
}
.login ul:hover{
    background: rgb(132, 132, 132);
    transition: 0.5s;

}
.login a{
    text-decoration: none;

}
.register ul{
    width: 100px;
    height: 40px;
    background: rgb(169, 169, 169);
    list-style-type: none;
    /* text-decoration: underline; */
    padding: 0px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Rathana;
}
.register ul:hover{
    background: rgb(132, 132, 132);
    transition: 0.5s;

}
.register a{
    text-decoration: none;
}
.boxleft{
    top: 150px;
    position: sticky;
    z-index: 1000;
    border-radius: 10px;
    margin-left:10px;
    margin-right:10px;
    margin-top: 40px;
    width: 12%;
    height: 600px;
    
    background: rgb(208, 208, 208);
    /* box-shadow: 0.5px 0.5px 0.5px 0.5px black; */
}
.boxleft a:hover{
    background: rgb(154, 154, 154);
    transition: 0.5s;

}
.product{
    
    width: 100%;
    height: auto;
    /* background: rgb(255, 255, 255); */
    display: flex;
    /* justify-content: right; */
    
}

.boxleft a{
    font-family: Rathana;
    font-size: 16px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 7px;
    background: rgb(255, 255, 255);
    width: 90%;
    flex-wrap: wrap;
    list-style-type: none;
    text-decoration: none;
}
.boxleft h4{
    font-family:  khmer ;
    font-weight: bold;
    margin: 20px;
    text-align: center;
}
.boxleft img{
    width: 100%;
    height: 130px;
}

.other-box{
    margin-top: 30px;
    width:85%;
    height: auto;
    flex-wrap: wrap;
    /* margin-left: 250px; */
    /* background: yellow  ; */
    display: flex;
    justify-content: space-around;
    
}
.other-box img{
    border-radius: 15px;
    width: 100%;
    height: 390px;
       
    
}


/* .o img{
    border-radius: 15px;
    width: 100%;
    height: auto;
} */

.other{
    font-family: product;
    margin-top: 10px;
    width: 32%;
    /* height: 710px; */
    background:rgb(160, 160, 160);  
    border-radius: 15px
    
}
.model p{
    display: flex;
    align-items: center;
}
.other{
    transition:  0.8s;
    
}
.other:hover{
    transform: scale(1.01);
    box-shadow: 0px 0px 10px 0px black;
    border-radius: 15px;
}
.titlemodel1{
    
    width: 100%;
    margin: 30px;
    
}
.titlemodel h2{
    width: 320px;
    background: rgb(188, 188, 188);
    margin-top: 30px;
    font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 690px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}
.titlemodel1 h2{
    margin-top: 30px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background: rgb(188, 188, 188);
    margin-left: 450px;
    width: 350px;
    color: rgb(0, 0, 0);
}

.model{
    font-family: productfont;
    color: aliceblue;
    /* width: 100%;
    height: 50px;
    border-radius: 10px;
    background: rgb(0, 0, 0); */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 17px;
}
.model p{
    
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: center;
    background: rgb(0, 0, 0);
    border-radius: 10px;
}
.space{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 20px;
    font-size: 20px;

}
.speed{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 20px;
    font-size: 20px;

}
.price{
    width: 100%;
    height: 50px;
    font-family: productfont;
    border-radius: 10px;
    /* background: black; */
    color: aliceblue;
    margin-top: 20px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-size: 17px;

}
.price p{
    width: 40%;
    height: 30px;
    background: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */
.footer{
    width: 100%;
    height: auto;
    background: rgb(0, 0, 0)  ;
    color: rgb(255, 204, 0)    ;
    margin-top: 100px;
    margin-bottom: 43px;
}
.footer-section{
    padding: 30px;
    margin: 30px;
    display: block;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: auto;
    border-radius: 30px;
    background: gray;
}
.footer-content{
    height: auto;
    display: flex;
    justify-content: space-around;
}
.footer-section h3{
    font-family: Rathana;
    height: auto;
    text-align: center;
}
.footer-section ul{
    height: auto;
    list-style: none;
    font-family: Khmer OS Battambang;
    
}
/* tablet */
@media(max-width:1279px) and (min-width:481px){
    .header{
    
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    /* opacity: 0.5; */
    align-items: center;
    background: rgb(227, 227, 227);
}
/* Logo */
.logo{
    width: 25%;

}

.nameshop{
    width: 50%;

}
.setting{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 15px;
}
.logo img{
    width:  200px ;
    height: 150px;
}
.title img{
    width:200px ;
    height: 150px;
}
.nameshop h3{
    text-transform: uppercase;
    background: linear-gradient(to right,
        rgb(110, 225, 102),
        rgb(76, 161, 178),
        rgb(154, 196, 83),
        rgb(72, 104, 194),
        rgb(191, 72, 133),
        rgb(143, 77, 204),
        rgb(201, 75, 134),
        rgb(118, 216, 111));
        background-size: 200%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: animate-gradient 10s linear infinite;
        
    
    font-family: Rathana;
    font-size: 34px;
    
    /* color: Gold; */
    /* display: flex;
    justify-content: center; */
    text-align: center;
}
@keyframes animate-gradient{
    to{
        background-position: 200%;

    }

}

.setting img{
    width:  30px ;
    height: 30px;
}
.navbar{
    width: 80%;
    margin-left: 130px;
    /* opacity: 0.5; */
    height: auto;
    /* background: rgb(14, 155, 54); */
}
.navbar.home img{
    width:  40px;
    height: 90px;
}
.navbar img{
    width:  50px;
    height: 40px;
}
.navbar ul{
    font-family: navfont;
    list-style-type: none;
    padding: 0px;
    margin: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 24px;

}
.navbar a{
    /* background: red; */
    text-decoration: none;
    display: block;
    padding: 10px 30px;
    transition: 1s;
    
}
.navbar a:hover{
    border-radius: 20px;
    background: rgb(221, 221, 221);
    transition: 0.5s;

}
.dropdown{
    border-radius: 20px;
    background: rgb(255, 255, 255);
    position: absolute ;
    display: none;
    transition: 1s;
}
.dropdown ul{
    transition: 1s;
    font-size: 15px ;
    flex-direction: column;
}
.navbar li:hover .dropdown{
    
    display: block;
    transition: 0.5s;
}


/* banner */
.banner {
    display: flex;
    /* width: 100px; */
    height: 800px;
}
/* Form */
.login ul{
    width: 100px;
    height: 40px;
    background: rgb(169, 169, 169);
    list-style-type: none;
    text-decoration: none;  
    padding: 0px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    font-family: Rathana;
    /* font-size: 24px; */
}
.login ul:hover{
    background: rgb(132, 132, 132);
    transition: 0.5s;

}
.register ul{
    width: 100px;
    height: 40px;
    background: rgb(169, 169, 169);
    list-style-type: none;
    /* text-decoration: underline; */
    padding: 0px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Rathana;
}
.register ul:hover{
    background: rgb(132, 132, 132);
    transition: 0.5s;

}
.titlemodel1{
    /* background: rgb(205, 24, 24); */
    width: 100%;
    margin: 30px;
    
}

.titlemodel h2{
    width: 320px;
    /* background: rgb(116, 94, 94); */
    
    font-size: 25px;
    
    margin-left: 470px;

    border-radius: 5px;
    color: rgb(0, 0, 0);
}
.titlemodel1 h2{
    margin-top: 30px;
    font-size: 25px;
    
    border-radius: 5px;
    background: rgb(188, 188, 188);
    margin-left: 270px;
    width: 350px;
    color: rgb(0, 0, 0);
}
.model{
    font-size: 15px;
}
.price{
    font-size: 15px;
}
}
